* {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:rgb(128, 0, 90);
	height: 100vh;
}

.calc {
	width: 40%;
	height: 70%;
	background-color: orange;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	display: block;
	width: calc(100% / 3);
	background-color: rgb(128, 0, 90);
}

#equals {
	width: calc(100% / 3 * 2);
}

.digit {
	width: calc(100% / 3);
}

#input {
	width: 40%;
	height: 50px;
	background-color: yellowgreen;
}

.trial {
	position: absolute;
	top: 0;
	left: 0;
	height: 20%;
	width: 20%;
}
